.app{
  max-width: 700px;
  margin: 40px auto;
  padding: 20px;
}
.title{
  margin-bottom: 20px;
  font-size: 3rem;
}

.controls{
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.stats {
  margin: 20px 0;
}

.task-item{
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-title{
  margin-bottom: 10px;
}

.completed {
  text-decoration: line-through;
  opacity: 0.6;
}

.buttons {
  display: flex;
  gap: 10px;
}

.search-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 6px;
}

.button {
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background-color: #3b1f2b;
  color: #E8D7DD;
  transition: 0.2s;
}

.button:hover{
  background-color: #553040;
}

.button:disabled{
  background-color: #9ca3af;
  cursor: not-allowed;
}

.input{
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #d1d5db;
  font-size: 16px;
}

.input-enter{
  padding: 5px;
  margin-bottom: 20px;
  margin-right: 10px;
  border-radius: 6px;
}

.delete-btn {
  background-color: #bf2020;
}
.delete-btn:hover{
  background-color: #dc2626;
}

.save-btn {
  background-color: #15803d;
  margin-top: 3px;
}

.save-btn:hover{
  background-color: #16a34a;
}

